<!DOCTYPE html>
<html>
  <head>
    <title>Race to Giffin Way Cup Tracker | Contact</title>
  </head>

  <body>
    <h1>Contact Us </h1>
    <p>
      email fabkwak@yahoo.com for help
    </p>
  </body>