<%= provide(:title, 'Home') %>
<div class="container-fluid">
  <div class="row-fluid">
    <header class="span12 hero-unit">
      <img src="assets\goat.png" alt="GOAT" width="15%" height="15%" class="img-circle pull-right" />
      <h1>Handicap Tracker</h1>
      <p> The <a href="#">Giffin Way Handicap Tracker</a> is used to calculate the running total of the yearly tournament as well as store your handicap and check when playing against each other.
      </p>
      <p> <a href="#" class="btn btn-primary btn-large">Sign Up </a> </p>
    </header>
  </div>
</div>