<%= provide(:title, 'Home') %>
  <h1>Handicap Tracker</h1>
    <p>
      The <a href="#">Giffin Way Cup Tracker</a> is used to calculate the running total of the yearly tournament as well as store your handicap and check when playing against each other.
    </p>
