<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to "Handicap Tracker", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
  </div>
</header>